[submodule "libretro-database"]
	path = libretro-database
	url = https://github.com/libretro/libretro-database.git
	ignore = all
	branch = master
[submodule "libretro-database-tic80"]
	path = libretro-database-tic80
	url = https://github.com/RobLoach/libretro-database-tic80.git
	ignore = all
	branch = master
[submodule "libretro-database-gametdb"]
	path = libretro-database-gametdb
	url = https://github.com/RobLoach/libretro-database-gametdb.git
	ignore = all
	branch = master
[submodule "libretro-database-goodtools"]
	path = libretro-database-goodtools
	url = https://github.com/RobLoach/libretro-database-goodtools.git
	ignore = all
	branch = master
[submodule "libretro-database-dos"]
	path = libretro-database-dos
	url = https://github.com/RobLoach/libretro-database-dos.git
	ignore = all
	branch = master
[submodule "libretro-dats"]
	path = libretro-dats
	url = https://github.com/RobLoach/libretro-dats.git
	ignore = all
	branch = master
